.gallery2-container {
    background-color: #1c1c1c;
    width: 100vw;
    height: 150vh;
    box-sizing: border-box;
}
*{
    /* outline: 1px solid green; */
}

.gallery2-inner-comtaier {
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    color: azure;


}

.gallery2-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery2-img-container img {
    width: 180%;
    height: 150%;
    object-fit: cover;
}

.gallery2-img-container2{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery2-img-container2 img {
    width: 150%;
    height: 180%;
    object-fit: cover;
}




.gallery-img-container3{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.gallery-img-container3 img {
    width: 180%;
    height: 150%;
    object-fit: cover;
}
.detail1{
    visibility:hidden;
    transition-delay: 2s;
    transition: 1s all ease-in-out;
    color:#1c1c1c
}
.gallery-inner-container:hover .detail1 {
   

    color: white;
    visibility:visible;
    /* transition: 1s all ease-in-out; */
}